.dashboard-container {
    background-image: url("https://tse4.mm.bing.net/th/id/OIF.r9GcZno8WZzru5AwP2em8Q?pid=ImgDet&rs=1");
    background-size: cover;
    background-position: center;
}
.content {
    padding: 20px;
}
  